NullClass Internship Task-1/Dataset
NullClass Internship Task-2 & 3/Dataset
NullClass Internship Task-4/.env_04
NullClass Internship Task-4/Machine Learning/Animal Emotion Detection/Animal Emotion Dataset
NullClass Internship Task-4/Machine Learning/Animal Emotion Detection/Saved Model
NullClass Internship Task-4/Machine Learning/Animal Identification/Animal Dataset
NullClass Internship Task-4/Machine Learning/Animal Identification/Model Weights
NullClass Internship Task-4/Machine Learning/Animal Identification/Saved Model
NullClass Internship Task-5/.env_05
NullClass Internship Task-5/Machine Learning/Sleep Detection/Saved Models